body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}

h2 {
    color: white;
}

p {
    color: yellow; 
}

footer {
    background-color: black;
    border-top: 2px solid white;
}

.logo{
   
    height: 280px;
    width: 1920px;
}

.maincraft {
        border: 3px solid white;
        padding: 20px;
        margin-bottom: 10px;
        text-align: center;
}

.rezimy {
    border: 3px solid yellow;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.REZHIMY:hover {
    width: 650px;
    height: 500px;
    transition: all 1.5s linear;
}

.anav {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    border: 2px solid yellow;
    padding: 20px;
    border-radius: 20px;
}

.anav:hover {
    border: 2px solid white;
    color: white;
    font-size: 30px;
}

.play {
    font-size:25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game {
    font-size:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: yellow;
}

.game {
    color: white;
}

.MINECRAFT:hover {
    width: 800px;
    height: 1000px;
    transition: all 3s linear;
}
